*{
    box-sizing: border-box;
}

:root{
    --color1:#d89584;
    --color2: #f4f4f4;
}

body{
    margin: 0px;
    font-family: Arial;
    line-height: 1.3;
}

iframe{
    width: 100%;
    border: none;
    height: 350px;
}

div.cover{
    background: url(cover_overlay.png) no-repeat center/100% 100% ,url(cover.png) no-repeat center/cover;
    height: 360px;
    position: relative;
}

img.cover-profil{
    height: 100px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: 50px;

}

h1{
    color: blanchedalmond;
    text-align: center;
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 0px;
}

div.cover p{
    color: lightgray;
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
}

div.cover-contact{
    position: absolute;
    top: 20px;
    left: 10px;
    border-left: 4px solid var(--color1);
    padding-left: 10px;
}

div.cover-contact p{
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.cover-contact p:first-child{
    margin-bottom: 14px;
}

div.cover-contact a{
    color: white;
    font-size: 14px;
    text-decoration: none;
}

div.cover-contact a:hover{
    text-decoration: underline;
}

a.contact-bouton{
    border: 3px solid var(--color1);
    padding: 8px 20px;
    background-color: #00000040;
    color: var(--color1);
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-top: 18px;
    font-size: 14px;
}

a.contact-bouton-portefolio{
    position: absolute; 
    right: 15px; 
    top:6px
}

a.contact-bouton:hover{
    color: white;
    border: 3px solid white;
}

.section{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
}

div.section-grise1{
    background: url(triangle2white.svg) no-repeat center bottom -1px/100%;
    background-color: var(--color2);
    padding-bottom: 70px;
}

div.separateur{
    border-top: 1px solid #979797;
    width: 150px;
    position: relative;
    left: 50%;
    margin-left: -75px;
}
div.section-grise1 p{
    font-size: 22px;
    color: #656565;
    max-width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
    
}

div.section-grise2{
    background: url(triangle1white.svg) no-repeat center top/100%;
    background-color: var(--color2);
    padding-top: 80px;
}

h2{
    text-align: center;
    font-size: 34px;
    margin-top: 0px;
}

img.col-contenu{
    width: 40%;
}

div.col-contenu{
    width: 60%;
    padding-left: 10px
}

.float-right{
    float: right;
}

div.text-border-vertical{
    margin-top: 0;
    padding-left: 5px;
    border-left: 3px solid var(--color1);
    height: 50px;
    display: inline-block;
}

div.text-border-vertical p{
    margin-top: 0;
}

div.barre-verticale{
    background-color: var(--color1);
    width: 3px;
    height: 50px;
    margin-right: 8px;
}

.col-portefolio{
    width: 47%;
}

div.footer{
    margin: 30px 50px;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);    
}

div.footer img{
    width: 100px;
}


h3{
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.display-mobile{
    display: none;
}



/* PORTEFOLIO*/

div.portefolio-header{
    background: url(header.png) no-repeat center/cover;
    height: 90px;
    position: relative;
}

.portefolio-header-title{
    font-size: 26px;
    font-weight: bold;
    color: white;
    padding-left: 8px;
    padding-top: 4px;
}

h1.porteflio{
    color: black;
    font-size: 42px;
    line-height: 1;
}

a.porteflio-back{
    color: var(--color1);
    margin-left: -10px;
}

a.porteflio-back:hover{
    color: grey;
}

h2.porteflio{
    font-weight: normal;
    font-size: 26px;
    margin-bottom: 0px;
}

img.portefolio{
    width: 70%;
    max-width: 475px;
}


/*RESPONSIVE DESIGN MOBILE*/
@media only screen and (max-width: 767px) {
    img.cover-profil{
        height: 90px;
        margin-top: 75px;
    
    }
    
    h1{
        font-size: 38px;
        margin-top: 6px;
    }
    
    div.cover p{
        margin-top: 2px;
        font-size: 13px;
    }
    
    .section{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    div.section-grise1{
       padding-bottom: 40px;
    }

    h2{
        font-size: 30px;
    }
    
    img.col-contenu{
        width: 100%;
    }
    
    div.col-contenu{
        width: 100%;
        padding-left: 0px;
        margin-top: 20px;
    }


    .col-portefolio{
        width: 100%;
    }

    table.col-portefolio{
        margin-bottom: 20px;
        width: 100%;
    }

    div.footer{
        margin: 0px 0px;
        padding: 0px 0px;
        box-shadow: none;    
    }

    div.footer img{
        width: 100px;
    }

    div.footer p{
        font-size: 14px;
    }

    h3{
        text-align: center;
        font-size: 25px;
    }

    .portefolio-header-title{
        font-size: 20px;
        padding-left: 0px;
        padding-top: 8px;
    }

    a.contact-bouton{
        padding: 8px 8px;
        margin-top: 19px;
        font-size: 12px;
        margin-right: -5px;
    }

    h1.porteflio{
        font-size: 40px;
    }
    
    h2.porteflio{
        font-size: 22px;
    }

    p{
        text-align: justify;
    }

    
    img.portefolio{
        width: 100%;
    }

    .display-mobile{
        display: block;
    }

}